#wrapper {
border: 4px solid black;
background-color: aquamarine;
color: rgb(134, 134, 134);
}

#form {
    font-family:'Arial Narrow';
    background-color: aquamarine;
    color: rgb(134, 134, 134);
}

h1{
    color: rgb(134, 134, 134);
    font-family: cursive;
}

h3{
    color: rgb(134, 134, 134);
    font-family: cursive;
}

#results{
    background-color: aquamarine;
    color: rgb(134, 134, 134);
    font-family: 'Arial Narrow';
}