<!DOCTYPE html>
<html lang="en">
<a href="{% url 'loginreg:LR_index' %}"></a>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COURSES APP</title>
    <h1>COURSES APP</h1>
</head>

<body>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>Courses Name</th>
                <th>Course Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{course.courseName}}</td>
                <br>
                <td>{{course.courseDescription}}</td>
                <br>
                <td>{{course.dateAdded}}</td>
                {% if request.session.userid == course.userAdded.id %}
                <br>
                <td>
                    <a href="{{course.id}}/delete">Remove</a> <a href="{{course.id}}/addFaves">Add As A Favorite</a>
                </td>
                {% else %}
                <td>
                        <a href="{{course.id}}/addFaves">Add As A Favorite</a>
                    </td>
                {% endif %} 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Add a new course:</h2>
    <form action="/courseload/add" method='POST'>
        {% csrf_token %} Course Name:
        <input type="text" name="courseName"> Course Description:
        <input type="text" name="courseDescription">
        <input type="submit" value="Add">
    </form>
    <button> <a href="{%url 'loginreg:LR_logout'%}">Logout</a></button> <button> <a href="{{request.session.userid}}/profile">View Your Favorites</a></button>


</body>

</html>